

/* all rules outside of @media queries apply to devices 1201px and above */
@media (max-width: 1200px) {/* rules here apply to devices from 993px to 1200px (inclusive) */
    body{
        /* background-color: aqua; */
    }
    a{
        text-decoration: none;
        color: black;
    }
    .img_div{
        width: 10%;
        /* background-color: rgb(139, 105, 105); */
    }
    nav{
        /* background-color: rgb(248, 238, 238); */
        display: flex;
        justify-content: space-between;
        padding: 2%;
        
        
    }
    .firstdiv{
        /* background-color: indianred; */
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .seconddiv{
        /* background-color: rgb(71, 57, 82); */
        width: 16%;
        display: flex;    
        justify-content: space-between;   
    }
    .thirddiv{
        /* background-color: chartreuse; */
        display: flex;
        justify-content: space-around;
        width: 30%;
    }
    .Register{
        /* background-color: aquamarine; */
       
    }
    .btn{
        width: 100%;
        height: 100%;
        
    }
    p{
        margin-block-end: 10%;
    }
    button{
        width: 26%;
        height: 50px;
        border-radius: 17px;
    }
    .sec_1{
        /* background-color: blueviolet; */
        display: flex;
        justify-content: space-around;
    }
    .remote{
        /* background-color: hotpink; */
        width: 40%;
    }
    h1{
        margin-block-end: 50px;
        font-size: 60px;
    }
    .lastdiv{
        width: 40%;
    }
    .hero{
        width: 100%;
    }
}
@media (max-width: 992px) {	/* rules here apply to devices from 769px to 992px (inclusive) */}
@media (max-width: 768px) {/* rules here apply to devices from 0px or 425px to 768px (inclusive) */

    .seconddiv{
        background-color: aqua;
        /* margin-block-start: 10%; */
        width: 14%;
    }
    nav{
        justify-content: space-around;
    }
    .btn{
        margin-left: 14%;
    }
    .thirddiv{
        margin-block-start: 10%;
    }
    .sec_1{
        display: block;
    }
    .remote{
        width: 100%;
    }
   
    .lastdiv{
        width: 100%;
    }
}

/* You may also apply this: */
@media (max-width: 425px) {/* rules here apply to devices from 0px to 425px (inclusive) */}